//мой микс из css reset'ов

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	scroll-behavior: smooth;
	//text-rendering: optimizeSpeed;
	//line-height: 1.5;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

ol,
ul,
menu {
	list-style: none;
}

img,
picture {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
