@import '../../App.scss';

.about-wrapper {
	width: 100%;
	margin-top: 8%;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media screen and (max-width: $middle) {
		margin-top: 15%;
	}
	@media screen and (max-width: $mobile) {
		margin-top: 25%;
	}

	.history-wrapper {
		margin-top: 4%;
		margin-bottom: 6%;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@media screen and (max-width: $mobile) {
			width: 95%;
		}
		.history-header {
			text-align: center;
			font-size: 2em;
		}
		.history-text {
			text-align: center;
			margin-top: 2%;
			font-size: 1.3em;
			line-height: 2em;
			@media screen and (max-width: $mobile) {
				line-height: 1.5;
				font-size: 1.2em;
			}
		}
	}
	.contact-wrapper {
		padding: 4% 0;
		width: 100%;
		background-color: black;
		color: white;
		.contact-header {
			text-align: center;
			margin: 2% 0;
			font-size: 2em;
		}
		.contact-content {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			text-align: center;
			@media screen and (max-width: $mobile) {
				flex-direction: column;
			}
			&-header {
				font-size: 1.6em;
				@media screen and (max-width: $mobile) {
					margin-top: 10%;
					font-size: 1.4em;
				}
			}
			&-list {
				padding: 0;
				.contact-content-item {
					padding-top: 14%;
					font-size: 1.4em;
					@media screen and (max-width: $mobile) {
						font-size: 1.2em;
					}
					a {
						color: white;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			&-map {
				@media screen and (max-width: $mobile) {
					margin: 10%;
					width: 90%;
				}
			}
		}
	}
}
