.footer-wrapper {
	//grid-row: footer;
	width: 100%;
	font-size: 1.3em;
	padding: 5% 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	border-top: 1px solid black;
}
