@import '../../App.scss';

.header-wrapper {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
	padding: 3%;
	//border-bottom: 1px solid white; //debug
	z-index: 2;
	.header-logo {
		color: white;
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-direction: column;
		font-size: 1.3em;
		flex-shrink: 0;
		.header-logo-bottom {
			display: inline-flex;
			justify-content: space-between;
			align-items: flex-start;
			.header-logo-icon {
				margin: 0 auto;
				&:hover {
					animation: heartbeat 0.3s ease-in 0s infinite alternate both;
					@keyframes heartbeat {
						0% {
							transform: scale(1);
						}
						100% {
							transform: scale(1.3);
						}
					}
				}
			}
		}
		@media screen and (max-width: $mobile) {
			font-size: 1.6em; // 1.8-2 ok
		}
		@media screen and (max-width: 320px) {
			//micro fix
			//margin-left: 5%;
			font-size: 1.4em;
		}
	}
	.header-links {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 70%;
		height: fit-content;
		@media screen and (max-width: $middle) {
			width: 80%;
		}
		@media screen and (max-width: $mobile) {
			display: none;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			position: fixed;
			width: 100%; //if 110 = full screen
			height: 85%;
			background-color: black;
			top: 15%;
		}
		.header-link {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: fit-content;
			margin: 5px;
			height: 100%;
			color: white;
			font-size: 1.3em;
			text-align: center;
			position: relative;
			&:after {
				display: block;
				position: absolute;
				left: 0;
				bottom: -5px;
				width: 0;
				height: 2px;
				background-color: white;
				content: '';
				transition: width 0.2s ease-out;
			}

			&:hover:after,
			&:focus:after {
				width: 100%;
			}
			&--active {
				text-decoration: underline wavy currentColor;
				&:hover {
					text-decoration: none;
				}
				&:after {
					display: none;
				}
			}

			@media screen and (max-width: $middle) {
				font-size: 1.2em;
			}
			@media screen and (max-width: $mobile) {
				margin: 0;
				width: 100%;
				//padding: 10%; //15
				background-color: black;
				border: 1px solid white;
				border-bottom: none;
				font-size: 1.6em;
				&:after {
					display: none;
				}
				&:nth-last-child(2) {
					border-bottom: 1px solid white;
				}
			}
		}
		.header-loginButton {
			display: inline-block;
			border: none;
			width: max-content;
			padding: 2% 3%;
			font-size: 1.3em;
			background: green;
			color: white;
			cursor: pointer;
			border-radius: 8px;
			//will-change: transform;
			transition: transform 0.4s;
			text-align: center;
			&:hover,
			&:focus {
				transform: scale(1.08) translateZ(0);
			}
			@media screen and (max-width: $middle) {
				padding: 2%;
				font-size: 1.1em;
			}
			@media screen and (max-width: $mobile) {
				margin: 5%;
				padding: 8%;
				font-size: 1.8em;
			}
		}
	}

	.showLinks {
		//show links in mobile view
		display: flex;
	}
	@media screen and (max-width: $mobile) {
		justify-content: space-around;
		height: 15%;
	}
}
