@import '../../App.scss';

.main-wrapper {
	background-color: black;
	width: 100%;
	height: 100%;
	color: white;
	.welcome-screen {
		position: relative;
		overflow: hidden;
		margin-top: 10vh; //from fixed header
		width: 100%;
		min-height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.welcome-screen-allText {
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			height: 40vh;
			width: 60%;
			font-size: 2em;
			z-index: 1;
			//border: 1px solid green; //debug
			@media screen and (max-width: $middle) {
				font-size: 1.8em;
				width: 90%;
			}
			@media screen and (max-width: $mobile) {
				//margin-left: 5%;
				font-size: 1.3em;
				width: 90%;
			}
			.welcome-screen-header {
				font-size: 2em;
				font-weight: 700;
			}
			.welcome-screen-bonus {
				font-size: 0.8em;
				font-weight: 400;
				@media screen and (max-width: $mobile) {
					font-size: 1em;
				}
			}
		}
		.welcome-redblop {
			svg {
				position: absolute;
				width: 100%;
				top: 4%;
				left: 2%;
				transform: scale(1);
				@media screen and (max-width: $middle) {
					left: 2%;
					transform: scale(1.2);
				}
				@media screen and (max-width: $mobile) {
					top: 0%;
					transform: scale(1.5);
				}
			}
		}
		.welcome-blueblop {
			svg {
				position: absolute;
				width: 100%;
				top: 15%;
				left: -5%;
				transform: scale(1.1);
				@media screen and (max-width: $middle) {
					top: 15%;
					transform: scale(1.2);
				}
				@media screen and (max-width: $mobile) {
					transform: scale(1.8);
				}
				//mix-blend-mode: hard-light;
			}
		}
		//border-bottom: 1px solid yellow; //debug
	}
	.services-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 6% 0;
		font-size: 2em;
		.services-description-text {
			letter-spacing: 2px;
			text-align: center;
			width: 100%;
		}
		@media screen and (max-width: $mobile) {
			font-size: 1.5em;
		}
	}
	.whyus-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 6% 0;
		font-size: 2em;
		background-color: white;
		color: black;
		.whyus-header {
			font-size: 1.5em;
			@media screen and (max-width: $mobile) {
				font-size: 1.2em;
			}
		}
		.whyus-reasons {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 6%;
			text-align: center;
			.whyus-reasons-card {
				margin-top: 3%;
				width: 40%;
				padding: 2%;
				border: 1px solid grey;
				background-color: white;
				&:nth-child(3n-3),
				&:nth-child(2n) {
					box-shadow: 0px 0px 5px 1px green; //rgba(232, 36, 79, 0.6);
				}
				&:nth-child(5n),
				&:nth-child(3n -2) {
					box-shadow: 0px 0px 5px 1px rgba(22, 74, 228, 0.6);
				}

				& + .withgreytext {
					.greytext {
						font-size: 0.6em;
						color: rgb(61, 61, 61);
						@media screen and (max-width: $mobile) {
							font-size: 0.7em;
							margin-top: 5%;
						}
					}
				}
				@media screen and (max-width: $middle) {
					font-size: 0.8em;
				}
				@media screen and (max-width: $mobile) {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					width: 40%;
					min-height: 15vh;
					padding: 5%;
					margin-top: 10%;
					font-size: 0.7em;
				}
			}
		}
	}
	.principles-wrapper {
		padding: 6% 0;
		border-top: 1px dashed grey;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		background-color: white;
		text-align: center;
		.principles {
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			font-size: 2em;
			&-header {
				font-size: 1.4em;
				@media screen and (max-width: $mobile) {
					font-size: 1.2em;
				}
			}
			&-text {
				width: 100%;
				margin-top: 3%;
				line-height: 1.5em;
			}
			@media screen and (max-width: $mobile) {
				width: 95%;
				&-text {
					margin-top: 4%;
					font-size: 0.6em;
					line-height: 1.4em;
				}
			}
		}
	}
	.moving-wrapper {
		padding-top: 6%;
		.moving-header {
			text-align: center;
			font-size: 2em;
			@media screen and (max-width: $mobile) {
				font-size: 1.6em;
			}
		}
		.moving-line {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 200vw;
			@media screen and (max-width: $mobile) {
				width: auto;
				height: auto;
			}
			.review-container {
				border: 2px solid #ccc;
				background-color: white;
				color: black;
				border-radius: 5px;
				padding: 2%;
				margin: 2%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-direction: column;
				width: 40vw;
				height: 50vh;
				@media screen and (max-width: $mobile) {
					width: 100vw;
					height: 100%;
				}
				.review-container-top {
					//border: 1px solid green; //debug
					display: flex;
					justify-content: space-between;
					align-items: center;
					text-align: center;
					width: 100%;
					@media screen and (max-width: $mobile) {
						justify-content: space-around;
					}
					.review-avatar {
						border-radius: 50%;
						width: 130px;
						height: 130px;
					}
					.review-author {
						font-size: 1.3em;
					}
				}
				.review-container-bottom {
					text-align: center;
					margin-top: 10%;
					.review-text {
						font-size: 1.2em;
					}
				}
			}
			&.logo-line {
				@media screen and (max-width: $mobile) {
					width: max-content;
				}
				.company-logo {
					margin: 4% 6%;
					@media screen and (max-width: $mobile) {
						margin: 4% 40px;
					}
				}
			}
		}
	}
	.mobile-wrapper {
		width: 100%;
		padding-bottom: 6%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: white;
		color: black;
		font-size: 1.4em;
		.mobile-header {
			margin: 5%;
			font-size: 1.6em;
			text-align: center;
			@media screen and (max-width: $mobile) {
				font-size: 1.2em;
			}
		}
		.mobile-content {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: row;
			@media screen and (max-width: $mobile) {
				flex-direction: column-reverse;
			}
			&-description {
				text-align: center;
				.mobile-list-wrapper {
					text-align: left;
					font-size: 0.8em;
					@media screen and (max-width: $mobile) {
						font-size: 0.7em;
					}
					.mobile-list-item {
						margin: 5%;
						list-style-type: circle;
						font-size: 1.4em;
					}
				}
			}
			&-img {
				border-radius: 10px;
				width: 30%;
				height: 30%;
				border: 1px solid black;
				@media screen and (max-width: $mobile) {
					width: 60%;
					margin: 5% 0 10% 0; //-40%; как-будто выглядывает
				}
			}
		}
		.mobile-apps {
			display: inline-flex;
			justify-content: flex-start;
			align-items: stretch;
			//border: 1px solid black; //debug
			&-badge {
				width: 30%;
				cursor: pointer;
				&--apple {
					width: 22%;
					margin-left: 5%;
				}
				@media screen and (max-width: $mobile) {
					width: 50%;
					&--apple {
						width: 38%;
					}
				}
			}
			@media screen and (max-width: $mobile) {
				justify-content: space-around;
				&-badge {
					margin: -14% 6% 0 0;
					width: 60%;
					&--apple {
						width: 40%;
						margin-left: -10%;
					}
				}
			}
		}
	}
	.end-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8%;
		.end {
			width: 80%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 1.2em;
			@media screen and (max-width: $mobile) {
				width: 100%;
				font-size: 1em;
			}
			h2 {
				margin-bottom: 5%;
			}
			span {
				margin-top: 6%;
				@media screen and (max-width: $mobile) {
					font-size: 1.3em;
				}
			}
			.end-loginButton {
				display: block;
				border: none;
				width: max-content;
				padding: 2% 3%;
				font-size: 1.5em;
				background: green;
				color: white;
				cursor: pointer;
				border-radius: 10px;
				transition: transform 0.4s;
				text-align: center;
				&:hover,
				&:focus {
					transform: scale(1.08) translateZ(0);
				}
				@media screen and (max-width: $middle) {
					padding: 2%;
					font-size: 1.1em;
				}
				@media screen and (max-width: $mobile) {
					margin: 10%;
					padding: 8%;
					font-size: 1.5em;
				}
			}
		}
	}
}
