@import '../../../App.scss';

.cabinetMain-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-top: 10%;
	align-items: center;
	flex-direction: column;
	font-size: 1.2em;
	@media screen and (max-width: $mobile) {
		padding-top: 0;
		@include marginFromButton;
	}
	.cabinetMain-balance {
		width: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		.balance-value {
			font-size: 1.8em;
			margin: 2%;
		}
		.balance-portfolioPrice {
			font-size: 1.2em;
			margin: 4%;
		}
		.balance-buttons {
			width: 50%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			@media screen and (max-width: $mobile) {
				width: 100%;
			}
			.balance-button {
				background-color: white;
				padding: 3% 5%;
				color: black;
				border: 1px solid grey;
				border-radius: 15px;
				font-size: 1.2em;
				transition: all 0.2s;
				cursor: pointer;
				&:hover {
					background-color: black;
					color: white;
				}
				@media screen and (max-width: $mobile) {
					width: 40%;
					font-size: 1.1em;
				}
			}
		}
	}
	.cabinetMain-portfolio {
		width: 100%;
		margin: 5%;
		text-align: center;
		.portfolio-wrapper {
			.item-wrapper {
				width: 100%;
				margin-top: 5%;
			}
		}
	}
}
