@import '../../../App.scss';

.profile-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 1.2em;
	background-color: white;
	@media screen and (max-width: $middle) {
		padding-top: 15%;
		font-size: 1.6em;
	}
	@media screen and (max-width: $mobile) {
		@include marginFromButton;
		font-size: 1.2em;
	}
	.profile-welcome {
		margin-top: 5%;
	}
	.profile-avatar {
		margin-top: 5%;
		svg {
			height: 10vw;
			@media screen and (max-width: $middle) {
				height: 20vw;
			}
			@media screen and (max-width: $mobile) {
				height: 40vw;
			}
		}
	}
	.profile-data {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 5%;
		label {
			width: 100%;
			margin-top: 2%;
			font-size: 1.2em;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			input {
				margin-top: 2%;
				padding: 2% 2%;
				width: 30%;
				@media screen and (max-width: $middle) {
					width: 80%;
					padding: 4% 2%;
					margin-top: 4%;
				}
			}
		}
	}
	.profile-buttons {
		margin: 5% 0;
		width: 50%;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: $middle) {
			width: 80%;
			gap: 5%;
		}
		.profile-button {
			position: relative;
			padding: 1% 2%;
			margin: 0px 10px 10px 0px;
			border-radius: 3px;
			color: white;
			font-size: 1.6em;
			text-decoration: none;
			background-color: #28aa5e;
			border: none;
			border-bottom: 5px solid darkgreen;
			cursor: pointer;
			&--exit {
				background-color: rgb(211, 72, 72);
				border-bottom: 5px solid darkred;
			}
			&:hover {
				box-shadow: 3px 3px 10px grey;
			}
			&:active {
				animation: bop 0.2s;
			}
			@keyframes bop {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.2);
				}
				100% {
					transform: scale(1);
				}
			}
			@media screen and (max-width: $middle) {
				font-size: 1.3em;
				padding: 6% 3%;
			}
			@media screen and (max-width: $mobile) {
				font-size: 1.1em;
				padding: 4%;
			}
		}
		@media screen and (max-width: $mobile) {
			width: 90%;
		}
	}
}
