@import '../../../App.scss';

.cabinetAside-logout {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 2%;
	border: none;
	background-color: transparent;
	width: 8%; //6 + padding
	height: 10%;
	//min-width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 2;
	cursor: pointer;
	@media screen and (max-width: $middle) {
		width: 12%; //15 + padding
	}
	@media screen and (max-width: $mobile) {
		width: 17%; //15 + padding
	}
}

.cabinetAside-wrapper {
	position: fixed;
	width: 6%;
	min-width: 80px;
	height: 100%;
	background-color: black;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	@media screen and (max-width: $middle) {
		width: 20%;
	}
	@media screen and (max-width: $mobile) {
		min-width: 35%;
		height: 100%;
	}
	.cabinetAside {
		height: 70%;
		margin-top: 30%;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		@media screen and (max-width: $middle) {
			height: 80%;
			margin: 0;
		}
		.cabinetAside-link {
			width: 100%;
			padding: 20%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&:hover {
				.cabinetAside-icon {
					transform: scale(1.2);
				}
			}
			@media screen and (max-width: $mobile) {
				padding: 10%;
				height: 10%;
			}
			.cabinetAside-text {
				color: white;
				margin-top: 20%;
				@media screen and (max-width: $middle) {
					font-size: 1.8em;
				}
				@media screen and (max-width: $mobile) {
					font-size: 1.6em;
				}
			}
			.cabinetAside-icon {
				width: 80%;
				@media screen and (max-width: $mobile) {
					min-height: 120%;
				}
			}
		}
	}
}
.asideDisplay {
	display: none;
}
