@import '../../../App.scss';
.login-wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	.back {
		position: absolute;
		top: 2%;
		left: 5%;
		width: 15%;
	}
	.login-form {
		border-radius: 10px;
		padding: 5%;
		width: 50%;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@media screen and (max-width: $mobile) {
			width: 100%;
			padding: 0;
			height: 100%;
			border-radius: 0;
		}

		.login-form-welcome {
			font-size: 1.8em;
			text-align: center;
		}
		.login-form-inputs {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.login-form-input {
				padding: 2%;
				margin: 4% 0;
				font-size: 2em;
				text-align: center;
				@media screen and (max-width: $mobile) {
					font-size: 2em;
					width: 100%;
				}
			}
		}
		.login-error-message {
			color: rgb(255, 65, 65);
		}
		.login-form-buttons {
			margin-top: 5%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			.login-form-button {
				position: relative;
				padding: 10px 40px;
				margin: 0px 10px 10px 0px;
				border-radius: 3px;
				color: #fff;
				font-size: 1.6em;
				text-decoration: none;
				background-color: #2ecc71;
				border: none;
				border-bottom: 5px solid #27ae60;
				text-shadow: 0px -2px #27ae60;
				will-change: transform;
				&:active {
					animation: bop 0.2s;
				}
				@keyframes bop {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.2);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
	}
	.hidden {
		display: none;
	}
}
